.branco {
	background: white;
}

.preto{
	background: black;
}

.capacete {
	background: #0171EF;
}

.tronco {
	background: #39BEFF;
}

.pele {
	background: #FFE7A5;
}

.ted {
	width: 30px;
	height: 30px;
}